<h3>About Us</h3>

<h4>Gernal Manager: {{manager}}</h4>

<ul class="list-group col-8">
    <li class="list-group-item active">Our Products</li>
    <li class="list-group-item list-group-item-action">LMS</li>
    <li class="list-group-item list-group-item-action">ERP</li>
    <li class="list-group-item list-group-item-action">CRM</li>
</ul>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere labore quas placeat ut modi aspernatur expedita odit
    maiores totam quae ipsum esse fugiat vero, libero adipisci nobis quo saepe dolor.
    Aut animi nostrum eius fugit sequi minus, inventore ad neque provident doloribus? Ducimus quaerat in facilis fugiat
    earum autem, hic asperiores doloribus accusamus repellat doloremque laudantium, architecto veritatis, aliquid ullam.
    Dolor totam aspernatur quas minus velit assumenda doloremque itaque aperiam nemo eveniet quasi rem magnam qui
    excepturi sed iusto cupiditate ducimus suscipit, commodi officiis est enim voluptates molestias ratione. Illum?
</p>



<!-- div>p   |   div>p*3     |   ul>li*5 -->

<div>
    <p></p>
    <p></p>
    <p></p>
</div>

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<!--div.abc-->
<div class="abc"></div>

<!--ul.list-group>li.list-group-item*-->
<ul class="list-group">
    <li class="list-group-item active">ABC</li>
    <li class="list-group-item">DEF</li>
    <li class="list-group-item active">GHI</li>
    <li class="list-group-item">JKL</li>
    <li class="list-group-item active">MNO</li>
    <li class="list-group-item">PQR</li>
</ul>


<!--div#firstDiv-->
<div id="firstDiv"></div>


<!--Move up: Alt + Up Arrow  X Move Down: Alt + Up Arrow-->
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>
<div>ABC ABC ABC ABC ABC ABC ABC ABC ABC</div>
<p>MNO MNO MNO MNO MNO MNO MNO MNO MNO</p>
<div>JKL JKL JKL JKL JKL JKL JKL JKL JKL</div>
<div>PQR PQR PQR PQR PQR PQR PQR PQR PQR</div>
<p>GHI GHI GHI GHI GHI GHI GHI GHI GHI</p>

<!--Duplicate up: Shift + Alt + Up Arrow   X 
    Duplicate down: Shift + Alt + Down Arrow-->
<div>ABC ABC ABC ABC ABC ABC ABC ABC ABC</div>
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>
<p>DEF DEF DEF DEF DEF DEF DEF DEF DEF</p>