<h1>Details</h1>
<table class="table table-bordered table-hover">
    <tbody>
        <tr><th>_Id</th><td>{{this.product._id}}</td></tr>
        <tr><th>Name</th><td>{{this.product.name}}</td></tr>
        <tr><th>Description</th><td>{{this.product.description}}</td></tr>
        <tr><th>Price</th><td>{{this.product.price}} EGP</td></tr>
        <tr><th>Created Date</th><td>{{this.product.createdDate}}</td></tr>
        <tr><th>Category</th><td>{{this.category.name}}</td></tr>
    </tbody>
</table>

<a routerLink="/products">Back to List</a>